.col-xs-18.col-sm-8.col-md-6.col-lg-4 
  .box       
    .big-padding
      %h1 Teams
      %table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
        %thead
          %tr
            %th Name
            %th Curso
            %th User
            %th Championship
            %th
            %th
            %th
        %tbody
          - @teams.each do |team|
            %tr
              %td= team.name
              %td= team.curso
              %td= team.user.email
              %td= team.championship.name
              %td= link_to 'Show', team
              %td= link_to 'Edit', edit_team_path(team)
              %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

      %br

      = link_to 'New Team', new_team_path