<div class="col-xs-8">
      <h1> Details matches</h1>
	  <%= form_tag({controller: "matches", action: "details"}, method: "post" ) do |f| %>
	      <div class="col-xs-4">
	          <fieldset class="form-group">
	           <div class="form-group">
	             <%= image_tag("chelsea.png",:class=>'img-responsive img-circle center-element') %>
	           </div>
			   <div class="form-group">
			    <%= label_tag(:player_id, "Player:") %><br>
			    <% players_local_array = @players_local.map { |player| [player.first_name, player.id] } %>
			    <%= select_tag(:player_id,options_for_select(players_local_array),:class=>"form-control",:prompt => '- choose -' ) %>
			   </div>
			   <div class="form-group">
			    <%= label_tag(:event_id, "Event:") %><br>
			    <% events_array = @events.map { |event| [event.name, event.id] } %>
			    <%= select_tag(:event_id,options_for_select(events_array),:class=>"form-control",:prompt => '- choose -' ) %>
			   </div>
			   <div class="form-group">
			    <%= label_tag(:minute, "Minute:") %>
			    <%= text_field_tag(:minute,nil,:class => "form-control") %>
			   </div>
			  </fieldset>
	      </div>
	      <div class="col-xs-4">
	          <fieldset class="form-group">
	           <div class="form-group">
	             <%= image_tag("america.png",:class=>'img-responsive img-circle center-element') %>
	           </div>
			   <div class="form-group">
			    <%= label_tag(:player_id, "Player:") %><br>
			    <% players_local_array = @players_local.map { |player| [player.first_name, player.id] } %>
			    <%= select_tag(:player_id,options_for_select(players_local_array),:class=>"form-control",:prompt => '- choose -' ) %>
			   </div>
			   <div class="form-group">
			    <%= label_tag(:event_id, "Event:") %><br>
			    <% events_array = @events.map { |event| [event.name, event.id] } %>
			    <%= select_tag(:event_id,options_for_select(events_array),:class=>"form-control",:prompt => '- choose -' ) %>
			   </div>
			   <div class="form-group">
			    <%= label_tag(:minute, "Minute:") %>
			    <%= text_field_tag(:minute,nil,:class => "form-control") %>
			   </div>
			  </fieldset>
	      </div>
		   <div class="form-group col-xs-8">
		     <%= submit_tag("Save event",:class=>"btn btn-success center-element") %>
		   </div>

	  <% end %>
</div>
